# Ignore specific file types in all directories and subdirectories
**/*.log
**/*.fit
**/*.dat
**/*.int
**/*.pyc
ngrok_monitor*

# Ignore folder and all its contents
/output_data/
/logs/

# Ignore Python cache folders
__pycache__/
**/__pycache__/
*.py[cod]

# Ignore macOS system files
.DS_Store
